.container {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    min-width: 650px;
    z-index: 10;
}

.drawer_root {
    max-width: 80vw;
    min-width: 200px;
    min-height: 100vh;
    background-color: #373a47;
}

.drawer_list {
    list-style: none;
    width: 100%;
    color: white;
    padding: 30px 0 0;
    margin: 0;
}

.drawer_list.sub {
    padding: 0;
}

.drawer_item {
    font-weight: 400;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    height: 30px;
}

.drawer_item.sub {
    z-index: 10;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.header_root {
    width: 100%;
    position: fixed;
    transition: height 0.2s ease-out;
    left: 0;
    z-index: 10;
    top: 0;
    height: 70px;
    background: rgba(255, 255, 255, 0.85);
    padding: 10px 10px 10px 0;
}

.header_root.shrinked {
    background-color: white;
    border-bottom: 1px solid;
    height: 50px;
}
