.App {
    text-align: center;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    font-family: Skia, sans-serif;
}

div {
    box-sizing: border-box;
}

.flex_row {
    display: flex;
    width: 100%;
}


h4 {
    font-size: 2em;
    text-align: left;
    margin: 1.33em 0 0.5em 0;
}

@media only screen and (max-width: 850px) {
    .App {
        font-size: 10px;
    }

}
textarea::placeholder, input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3CBF95;
    opacity: 1; /* Firefox */
}

p {
    text-align: left;
}

.h4 {
    font-size: 2em;
    font-weight: bold;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

h3 {
    font-size: 1.5em;
}

#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}